[package]
name = "20min"
version = "0.0.1"
authors = ["Yasuhiro Яша Asaka <yasuhiro.asaka@grauwoelfchen.net>"]
description = "A command line working timer"
repository = "https://gitlab.com/grauwoelfchen/20min"
keywords = []
license = "Apache-2.0"

[[bin]]
name = "20min"
path = "src/main.rs"

[[test]]
name = "integration"
path = "test/test.rs"

[profile.release]
panic = "abort"

[dependencies]
structopt = { version = "0.3.8", default-features = false }

[dev-dependencies.cargo-husky]
version = "1"
default-features = false
features = ["user-hooks"]
